.recipe {
    border: 1px solid #ccc;
    padding-top: 5em;
    margin-left: 15%;
    padding-left: 5%;
    margin-right: 15%;
    padding-right: 5%;
    height: 100%;
}

.recipe .recipe-header {
    border: 1px solid #ccc;
    overflow: auto;
    padding: 1em;
    margin-bottom: 1em;
}

.recipe .preview-image, .recipe .meta {
    width: 50%;
}

.recipe .meta h1 {
    padding-left: 0.5em;
    font-size: 1.5em;
}

.recipe .meta p {
    padding-left: 0.8em;
}

.recipe .left-justify {
    float: left;
}

.recipe .right-justify {
    float: right;
}

.recipe .preview-image img {
    width: 100%;
}

.recipe .step {
    display: flex;
    border: 1px solid #ccc;
    padding: 1em;
    margin-top: 1em;
}

.recipe .steps h1 {
    float: left;
    font-size: 1em;
    padding: 1em;
}

.recipe .step img {
    width: 95%;
    height: 100%;
}

.recipe .step-image {
    width: 25%;
}

.recipe ul li {
    list-style-type: none;
}

@media screen and (max-width: 600px) {
    .recipe {
        padding-top: 2.5em;
        margin-left: 0;
        margin-right: 0;
    }

    .recipe .meta h1 {
        font-size: 1em;
    }

    .recipe .meta p {
        padding-left: 0.5em;
    }

    .recipe .preview-image, .recipe .meta {
        width: 100%;
    }

    .recipe .step-image, .recipe .step-description {
        width: 100%;
    }
}
