.recipes {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.recipe-card {
    display: flex;
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
}

.recipe-card .recipe-preview {
    width: 50%;
}

.recipe-card .recipe-meta {
    width: 50%;
}

.recipes h1 {
    padding-left: 0.25em;
    padding-bottom: 0.5em;
}

.recipe-meta h1 {
    padding-top: 0.25em;
    padding-left: 0.5em;
}

.recipe-meta p {
    padding-left: 1em;
}

.recipe-card .recipe-preview img {
    width: 100%;
}

ul li {
    list-style-type: none;
}

.left-justify {
    float: left;
}

.right-justify {
    float: right;
}

@media screen and (max-width: 600px) {
    .recipe-card {
        display: inline-block;
        overflow: auto;
    }

    .recipe-preview img {
        width: 100%;
        height: auto;
    }

    .recipe-card .recipe-preview, .recipe-card .recipe-meta {
        width: 100%;
    }
}
