header {
    background: #4a5f88;
    overflow: hidden;
}

header a {
    color: #f2f2f2;
    display: block;
    float: left;
    padding: 0.7em 1em;
    text-align: center;
    text-decoration: none;
}

header a:hover {
    background-color: #ddd;
    color: black;
}

header div.left-justify {
    float: left;
}

header div.right-justify {
    float: right;
}

header div.left-justify a:first-child {
    display: none;
}

@media screen and (max-width: 600px) {
    header {
        position: relative;
    }

    header div {
        float: left;
    }

    header div a {
        display: none;
    }

    header div.left-justify a.menu-icon {
        display: block;
    }

    header.responsive div {
        float: none;
    }

    header.responsive div a {
        display: block;
        float: none;
        text-align: left;
    }
}
