.register-form {
    border: 0.1em solid;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5em;
    padding: 1em;
}

.register-form p {
    border-bottom: 0.1em solid;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}

.register-form input[type=password], .register-form input[type=text], .register-form select, .register-form text-area {
    border-radius: 0.25em;
    border: 1px solid #ccc;
    box-sizing : border-box;
    padding: 0.75em;
    resize: vertical;
    width: 100%;
}

.register-form button {
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-top: 1em;
    padding: 0.25em 0.5em 0.25em 0.5em;
}

.register-form .right-justify {
    float: right;
}

.register-form label {
    display: inline-block;
    padding-top: 0.5em;
}

.register-form .col-20 {
    float: left;
    margin-top: 0.5em;
    width: 20%;
}

.register-form .col-80 {
    float: left;
    margin-top: 0.5em;
    width: 80%;
}

.register-form .row:after {
    clear: both;
    content: "";
    display: table;
}

@media screen and (max-width: 1200px) {
    .register-form {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 1050px) {
    .register-form {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 900px) {
    .register-form {
        margin-top: 2.5em;
    }

    .register-form .col-20, .register-form .col-80, .register-form input[type=submit] {
        margin-top: 0;
        width: 100%;
    }

    .register-form label {
        padding-bottom: 0.5em;
    }
}
