.form {
    border: 0.1em solid;
    margin-top: 5em;
    padding: 1em;
}

.login-form {
    margin-left: 30%;
    margin-right: 30%;
}

.register-form {
    margin-left: 20%;
    margin-right: 20%;
}

.recipe-form {
    margin-left: 10%;
    margin-right: 10%;
}

.form p {
    border-bottom: 0.1em solid;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}

.form input[type=password], .form input[type=text], .form input[type=file], .form select, .form textarea {
    border-radius: 0.25em;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 0.75em;
    resize: vertical;
    width: 100%;
}

.form ul {
    border-radius: 0.25em;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 0.75em;
    width: 100%;
    float: left;
}

.form button {
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-top: 1em;
    padding: 0.25em 0.5em;
}

.form .right-justify {
    float: right;
}

.form label {
    display: inline-block;
    padding-top: 0.5em;
}

.form span {
    font-size: 0.8em;
    color: red;
}

.form .col-20 {
    float: left;
    margin-top: 0.5em;
    width: 20%;
}

.form .col-80 {
    float: left;
    margin-top: 0.5em;
    width: 80%;
}

.form .col-100 {
    float: left;
    margin-top: 0.5em;
    width: 100%;
}

.form ul {
    list-style-type: none;
}

.form .row:after {
    clear: both;
    content: "";
    display: table;
}

.form .password-strength label {
    padding-top: 0.2em;
}

.form .password-strength progress {
    width: 100%;
    margin-top: 0.425em;
    margin-bottom: 0.3em;
}

@media screen and (max-width: 1250px) {
    .login-form {
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media screen and (max-width: 950px) {
    .login-form {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (max-width: 800px) {
    .login-form {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 650px) {
    .login-form {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 600px) {
    .login-form {
        margin-top: 2.5em;
    }

    .login-form .col-20, .login-form .col-80, .login-form input[type=submit] {
        margin-top: 0;
        width: 100%;
    }

    .login-form label {
        padding-bottom: 0.5em;
    }
}

@media screen and (max-width: 1200px) {
    .register-form {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 1050px) {
    .register-form {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 900px) {
    .register-form {
        margin-top: 2.5em;
    }

    .register-form .col-20, .register-form .col-80, .register-form input[type=submit] {
        margin-top: 0;
        width: 100%;
    }

    .register-form label {
        padding-bottom: 0.5em;
    }
}
